{{- $scratch := newScratch }}

{{- $publishDate := .Date -}}
{{- with .GitInfo -}}
    {{- $publishDate = .CommitDate -}}
    {{- range .Ancestors -}}
        {{- $publishDate = .CommitDate -}}
    {{- end -}}
{{- end -}}

{{- if not $publishDate.IsZero -}}
    {{- $scratch.Add "meta" (slice ($publishDate | time.Format (default ":date_long" site.Params.DateFormat))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
    {{- $scratch.Add "meta" (slice ($publishDate.Format "15:04")) }}
{{- end }}

{{- if .Lastmod -}}
    {{- if ne .Lastmod .Date -}}
        {{- $scratch.Add "meta" (slice (printf "updated %s" (.Lastmod.Format "2006-01-02 15:04"))) }}
    {{- end }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    {{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
        {{- $scratch.Add "meta" (slice .) }}
    {{- end }}
{{- end }}

{{- if .Param "ShowViews" -}}
    {{- $scratch.Add "meta" (slice (partial "post_views.html" .)) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
